.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 450px;
  height: 100%;
  gap: 12px;
}
.attachmentName {
  padding-left: 12px;
}
.uploadImageError {
  padding-left: 12px;
  color: red;
  font-size: 13px;
}
