.navbarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 20%;
  min-width: 300px;
  height: 100vh;
  padding: 24px 6px;
  background-color: rgba(230, 243, 255, 0.83);
  -webkit-box-shadow: inset -10px 7px 24px 0px rgba(220, 220, 220, 1);
  -moz-box-shadow: inset -10px 7px 24px 0px rgba(220, 220, 220, 1);
  box-shadow: inset -10px 7px 24px 0px rgba(220, 220, 220, 1);
}
.navLinksWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
}
.navLink {
  padding: 10px 15px;
  text-align: center;
  min-width: 225px;
  border: 1px solid black;
  background-color: white;
  display: block;
  text-decoration: none;
  color: black;
  transition: 0.3s;
  cursor: pointer;
  &:hover {
    background-color: rgba(133, 196, 251, 0.83);
  }
}
